
<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/notebooks/">Notebooks</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{notebook.name}}</li>
  </ol>
</nav>

<h1>{{ notebook.name }}</h1>
<h3>{{ notebook.project_id }}</h3>

<dl>
    <dt>Project Lead</dt><dd>{{notebook.project_lead}}</dd>
    <dt>Description</dt><dd>{{ notebook.pre_description }}</dd>
</dl>

{{#if isAdmin}}
<p>
Users can be invited to roles <a href="/notebooks/{{notebook.project_id}}/invite/">here</a>.
</p>

<ul>
  {{#each invites}}
  <li><a href="/register/{{this._id}}/">Invite for {{this.number}} users for role "{{this.role}}"</a></li>
  {{/each}}
</ul>


<p><a href="/notebooks/{{notebook.project_id}}/users/">Edit User Roles</a></p>
{{/if}}

</div>

